<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.uocssafe.com.uocs_safe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="app.uocssafe.com.uocs_safe.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="app.uocssafe.com.uocs_safe.permission.C2D_MESSAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:name=".uocs_safe"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UOCSActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="app.uocssafe.com.uocs_safe.UOCSActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.uocssafe.com.uocs_safe.UOCSActivity" />
        </activity>
        <activity
            android:name=".Emergency_Contact.Emergency_Contact"
            android:label="Emergency Contact">
            <intent-filter>
                <action android:name="app.uocssafe.com.uocs_safe.Emergency_Contact.Emergency_Contact" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.uocssafe.com.uocs_safe.UOCSActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Report_Activity.Reporting_Category"
            android:label="@string/title_activity_reporting__category">
            <intent-filter>
                <action android:name="app.uocssafe.com.uocs_safe.Report_Activity.Reporting_Category" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.uocssafe.com.uocs_safe.UOCSActivity" />
        </activity>
        <activity
            android:name=".Report_Activity.report_form"
            android:label="Report Activity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="app.uocssafe.com.uocs_safe.Report_Activity.report_form" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.uocssafe.com.uocs_safe.Report_Activity.Reporting_Category" />
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Virtual_map.MapsActivity"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="app.uocssafe.com.uocs_safe.Virtual_map.MapsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.uocssafe.com.uocs_safe.UOCSActivity" />
        </activity>
        <activity
            android:name=".login_register.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_register.Register" />
        <activity
            android:name=".News.NewsActivity"
            android:label="@string/title_news">
            <intent-filter>
                <action android:name="app.uocssafe.com.uocs_safe.News.NewsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UOCSActivity" />
        </activity>
        <activity
            android:name=".Message.MessageActivity"
            android:label="Message">
            <intent-filter>
                <action android:name="app.uocssafe.com.uocs_safe.Message.MessageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UOCSActivity" />
        </activity>

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_home_black_24px" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".Message.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UOCSActivity" />
        </activity>

        <service
            android:name=".Message.MyGcmPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".Helper.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Message.ChatRoomActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".News.SinglePost" />
        <activity android:name=".safety_tips.SafetyTipsActivity" />
        <activity android:name=".safety_tips.DetailsTipsActivity" />
        <activity android:name=".Message.SearchAddActivity"></activity>
    </application>

</manifest>